*{
    outline: dotted 1px orangered;
}
html {
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    width: 960px;
    margin-left:230px;
}

header{
    background: rgb(241, 238, 238);
    height:60px;
    text-align:center;
    padding-top: 40px;
    font-size: 30px;
}
/* .container{
    background: black;
    width: 200px;
    height: 300px;
    display: inline-block;
    margin-left: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 45px;
} */
.container{
    background: blue;
    width: 200px;
    height: 300px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    margin-right: 20px;
}

.fellows{
     max-width: 200px; 
     height: 300px;
     position: absolute;
     top: 0px;
     left: 0px;
     z-index: 1;
}

footer{
    background: rgb(241, 238, 238);
    height:10px;
    text-align:center;
    font-size: 15px;

}

.unflipped.fellows.flipped {
    display: none;
}

.unflipped{
    max-width: 200px;
    max-height: 300px;
    background-color: black;
}

div, :last-child{
    position: relative;
    top: 0px;
    left: 0px;
}

#timer {
    background-color:  white;
}