/* *{
    outline: dotted 1px orangered;
}

/* https://css-tricks.com/perfect-full-page-background-image/ */
html {
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#home{
    color: rgb(248, 246, 255);
    margin-left:95mm;
    display: inline;
    text-decoration: underline;
}
#home:hover{
    color: ivory;
    cursor: pointer;
}
#play{
    color: rgb(248, 246, 255);
    margin-left:10mm;
    display: inline;
    text-decoration: underline;
}
#play:hover{
    color: ivory;
    cursor: pointer;
}
#lead{
    color: ivory;
    margin-left:10mm;
    display: inline;
    text-decoration: underline;
}
#lead:hover{
    color: ivory;
    cursor: pointer;
}

a{
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    color: ivory;
    text-decoration: none;
}

a:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
}
 

main{
    margin-top: 30px;
    width: 960px;
    margin-left:230px;
    /* float: center; */
}

header {
    background-color: rgba(0,0,0,0.2);
    position: relative;
    height: 40px;
    width: 100%;
    left: 0px;
    top: 0px;
    /* margin-bottom: 100px; */
  }

.container{
    background: blue;
    width: 100px;
    height: 150px;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    margin-top: 10px;
    margin-right: 8px;
    margin-left: 8px;
    outline: solid 3px purple;
}
.container:hover{
    box-shadow: 0px 0px 40px 20px rgb(146, 69, 146);
 }

.fellows{
     max-width: 100px; 
     height: 150px;
     position: absolute;
     top: 0px;
     left: 0px;
     z-index: 1;
     cursor: pointer;
}

header h1 {
    text-transform: uppercase;
    margin-left: 20px;
    line-height: 25px;
    font-weight: 600;
    font-size: 12px;
    opacity: 0.8;
    color: #fff;
    text-align: center;
}

footer{
    background: rgb(241, 238, 238);
    height:20px;
    text-align:center;
    font-size: 15px;
}

.unflipped.fellows.flipped {
    display: none;
}

.unflipped{
    max-width: 100px;
    max-height: 150px;
    background-color: black;
}

div, :last-child{
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
}

.unflipped.flipped{
    max-width: auto;
    max-height: auto;
}

#timer {
    font-family: 'Share Tech Mono', monospace;
    margin-top:20px;
    margin-left: 189mm;
    color: #ffffff;
    text-align: center;
    position: relative;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
    letter-spacing: 0.05em;
    font-size: 30px;
    padding: 5px 0;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  #text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
