*{
    /* outline: dotted 1px orangered; */
}
body{
    width: 960px;
    margin-left:230px;
}

header{
    background: rgb(241, 238, 238);
    height:40px;
    text-align:center;
    padding-top: 10px;
    font-size: 30px;
}

.fellows{
    max-width: 200px; 
    height: 300px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.unflipped.fellows.flipped {  
    display: none;
    
}

.unflipped{
    max-width: 200px;
    max-height: 300px;
    /* background-color: black; */
}

div, :last-child{
    position: relative;
    top: 0px;
    left: 0px;
}


.spin{
    margin: 20px 0px 10px 30px;
    border: 1.5px solid black;
    width: 200px;
    height: 300px;
    border-radius:10px;
    display: inline-block;

    
}


footer{
    background: rgb(241, 238, 238);
    height:20px;
    text-align:center;
    font-size: 15px;
                
}