*{
    outline: dotted 1px orangered;
}
body{
    width: 960px;
    margin-left:230px;
}

header{
    background: rgb(241, 238, 238);
    height:60px;
    text-align:center;
    padding-top: 40px;
    font-size: 30px;
}
#img1{
    background: black;
    width: 200px;
    height: 300px;
    display: inline-block;
    margin-left: 20px;
    border-radius: 10px;
    text-align: center;
    color:black;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 45px;
    transform: translateX(-10px);
}
#img2{
    background: blue;
    width: 200px;
    height: 300px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    margin-right: 20px;
}
#img3{
    background: red;
    width: 200px;
    height: 300px;
    display: inline-block;
    border-radius:10px;
    text-align: center;
    margin-right: 20px;
}
#img4{
    background: green;
    width: 200px;
    height: 300px;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}
.img div:target{
    display:block;
    background:red;
    border-radius: 10px;


}

/* .target {
    cursor: pointer;
    transform-style: preserve-3d;
  }

.spin:hover {
    animation: spin 2s linear infinite;
}
@keyframes spin {
0% {
    transform: rotateY(180deg);
}
100% {

    transform: rotateY(0deg);
}
}
footer{
    background: rgb(241, 238, 238);
    height:60px;
    text-align:center;
    padding-top: 40px;
    font-size: 20px;

}