
body{
    width: 1400px;
    margin-left: 40px;
}

header{
    background: rgb(241, 238, 238);
    height:20px;
    text-align:center;
    padding-top: 5px;
    margin-right: 60px;
}

.fellows{ 
    width: 200px; 
    height: 300px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.unflipped.flipped {  
    display: none;
}

div, :last-child{
    position: relative;
    top: 0px;
    left: 0px;
    border-radius:10px;
}

.spin{
    margin-right:20px;
    border: 2px solid grey;
    width: 200px;
    height: 300px;
    display: inline-block;
    border-radius:10px;
}

footer{
    background: rgb(241, 238, 238);
    height:20px;
    text-align:center;
    font-size: 15px;
    margin-right: 60px;          
}